<div>
    <%= link_to 'HOME', subjects_path %>
</div>
<%= form_with model: @subject do |form| %>
    <% if @subject.errors.any? %>
        <div>
            <ul>
                <% @subject.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div>
        <%= form.label :クラス名 %><br>
        <%= form.text_field :subject_name %>
    </div>
    <div>
        <%= form.label :教授名 %><br>
        <%= form.text_field :teacher_name %>
    </div>
    <div>
        <%= form.submit "送信" %>
    </div>
<% end %>