<h2>
    クラス名: 
    <%= @subject.subject_name %>
</h2>
<h3>
    教授名: 
    <%= @subject.teacher_name %>
</h3>
<div>
    <%= link_to 'HOME', subjects_path %>
</div>

<div>
    <% id = 1 %>
    <% @subject.answers.each do |answer| %>
        <p class="answer_post">
            <%= id %>
            Name:
            <% if answer.name.empty? %>
                名無し
            <% else %>
                <%= answer.name %>
            <% end %>           
            <%= answer.updated_at.in_time_zone('Tokyo') %>
        </p>
        <p>
            <%= answer.content %>
        </p>
        <% if Time.now - answer.created_at > 172800 %>
            <% answer.destroy %>
        <% end %>
        <% id += 1 %>
    <% end %>
</div>

<h2 class="create_post">投稿作成</h2>
<%= form_with model: [@subject, @subject.answers.build] do |form| %>
    <div>
        <%= form.label :名前 %><br>
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label :投稿内容 %><br>
        <%= form.text_area :content %>
    </div>
    <div>
        <%= form.submit '送信' %>
    </div>
<% end %>